<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taxi Riders Prediction</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

</head>
<body>
    <h1 class="text-center">Uber Weekly Riders Predictions</h1>
    <form action="{{url_for('predict')}}" class="text-center">
        <label class="text-center"><h4>Price Per Week</h4></label>
        <br>
        <input class="text-center" type="text" name="Priceperweek" placeholder="Priceperweek" required="required">
        <br>
        <br>

        <label class="text-center"><h4>Population</h4></label>
        <br>
        <input class="text-center" type="text" name="Population" placeholder="Population" required="required">
        <br>
        <br>

        <label class="text-center"><h4>Monthly Income</h4></label>
        <br>
        <input class="text-center" type="text" name="Monthlyincome" placeholder="Monthlyincome" required="required">
        <br>
        <br>

        <label class="text-center"><h4>Average Parking Per Month</h4></label>
        <br>
        <input class="text-center" type="text" name="Averageparkingpermonth" placeholder="Averageparkingpermonth" required="required">
        <br>
        <br>
        <button type="submit" class="btn btn-success btn-lg">Predict</button>
    </form>
    <h3 class="text-center">Number of Weekly Riders Should be {{ prediction_text }}.</h3>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>